body {
    margin: 0;
    padding: 0;
    font-family: "Roboto", Arial, serif;
}

#map {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
}

#geocoder-container {
    position: absolute;
    top: 0;
    width: 100%;
    margin-top: 10px;
}

#geocoder-container > div {
    min-width: 150px;
    float: right;
    margin-right: 55px;
}

#sidebar {
    position: absolute;
    top: 15px;
    left: 15px;
    bottom: 15px;
    width: 275px;
    overflow: auto;
    background: rgba(255, 255, 255, 0.8);
    padding-left: 10px;
    padding-right: 10px;
}

h1.sidebar-title {
    text-transform: uppercase;
    font-weight: 100 !important;
}

#toptoggle {
    position: absolute;
    top: 75%;
    margin-right: 10px;
}

#statbtns {
    display: block;
    width: 100%;
    min-height: 20px;
}

#statbtns label input {
    visibility: hidden;
}

.button {
    font-size: 14px;
    padding: 14px 10px 0px 10px;
    cursor: pointer;
    border-color: none;
    color: #666666;
    opacity: 60%;
    background-color: #ffffff;
    display: table-cell;
    text-align: center;
    margin-right: 0px;
    white-space: normal !important;
}

.button:hover,
.button.selected,
.button.active,
.button:checked {
    background-color: #742626;
    color: #ffffff;
    text-decoration: none;
}

#tooltip {
    margin-top: 1em;
    padding: 15px;
}

.title {
    padding-top: 6px;
    margin-bottom: 6px;
    font-size: 14px;
    text-transform: uppercase;
}

.risk {
    font-size: 16px;
    font-weight: 400;
    height: 90px;
    border-bottom: thin solid #7e7e7e;
    margin-bottom: 6px;
}

.households,
.income {
    height: 60px;
    border-bottom: thin solid #7e7e7e;
    margin-bottom: 6px;
}

#tooltip-risk {
    font-size: 24px;
    margin-bottom: 6px;
}

#tooltip-name,
#tooltip-tract {
    font-size: 14px;
    margin-bottom: 4px;
}