body {
    margin: 0;
    padding: 0;
    font-family: "Roboto", Arial, serif;
}

#map {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
}

#sidebar {
    position: absolute;
    top: 15px;
    left: 15px;
    bottom: 15px;
    width: 250px;
    overflow: auto;
    background: rgba(255, 255, 255, 0.8);
    padding-left: 10px;
    padding-right: 10px;
}

h1.sidebar-title {
    text-transform: uppercase;
    font-weight: 100 !important;
}

.menu {
    background: #fff;
    position: absolute;
    z-index: 1;
    margin-left: 5%;
    border-radius: 3px;
    width: 85%;
    border: 1px solid rgba(0, 0, 0, 0.4);
}

.menu a {
    font-size: 13px;
    color: #404040;
    display: block;
    margin: 0;
    padding: 0;
    padding: 10px;
    text-decoration: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.25);
    text-align: center;
}

.menu a:last-child {
    border: none;
}

.menu a:hover {
    background-color: #f8f8f8;
    color: #404040;
}

.menu a.active {
    background-color: #742626;
    color: #ffffff;
}

.menu a.active:hover {
    background: #804242;
}

#layertoggle {
    top: 75%;
}

#toptoggle {
    top: 85%
}

#tooltip {
    margin-top: 1em;
    padding: 15px;
}

.title {
    padding-top: 6px;
    margin-bottom: 6px;
    font-size: 14px;
    text-transform: uppercase;
}

.risk {
    font-size: 16px;
    font-weight: 400;
    height: 90px;
    border-bottom: thin solid #7e7e7e;
    margin-bottom: 6px;
}

.households,
.income {
    height: 60px;
    border-bottom: thin solid #7e7e7e;
    margin-bottom: 6px;
}

#tooltip-risk {
    font-size: 24px;
    margin-bottom: 6px;
}

#tooltip-name,
#tooltip-tract {
    font-size: 14px;
    margin-bottom: 4px;
}